POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=
JWT_SECRET_KEY=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
STRIPE_SECRET_KEY=
ZALOPAY_APP_ID=
ZALOPAY_KEY1=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_SECRET=
TWITTER_OAUTH_CLIENT_ID=
TWITTER_OAUTH_CLIENT_SECRET=
